.main-page {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6E92CA;
    background-color:#EBF1FF;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #EADDFF;
    position: fixed;
    bottom: 93.3%;
    border-bottom: 1px solid #ddd;
}

.header a {
    position: relative;
    left: 2%;
    margin-right: 20px;
    margin-left: 10px;  
    color: #6E92CA;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
}

.header a:hover {
    text-decoration: underline;
}

.header h3 {
    margin-left: 30px;
    font-weight: bold;
}

.weather-container {
    display: flex;
    justify-content: center;
}

#weather-display {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather-info {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    text-align: center;
}

#weather-info div{
    padding: 10px;
    border-radius: 8px;
    background: #f5f5f5;
    /* width: 400px;
    height: 115px; */
    border: 2px #1F477A solid;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#weather-info h1{
    margin: 5px 0;
    font-weight: bold;
    font-size: 24px;
}

#weather-info p{
    margin: 5px 0;
}


#weather-controls {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 140px;
}

#weather-controls button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #6E92CA;
    margin-left: 25px;
}

#next-location {
    position: absolute;
    left: 94%;
}

#save {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
}

.save-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#success-message {
    width: 150px;
    height: 75px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #EADDFF;
    border-radius: 6px;
}

#del-noti {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0;
    right: 25px; 
}